[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "==0.2.12"
langchain-core = "==0.2.33"
langchain-groq = "==0.1.9"
langchain-huggingface = "==0.0.3"
python-dotenv = "==1.0.1"
requests = "==2.32.3"
streamlit = "==1.25.0"  #
pypdf2 = "==3.0.1"      #

[dev-packages]

[requires]
python_version = "3.11"