[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langchain-core = "*"
langchain-groq = "*"
langchain-huggingface = "*"
python-dotenv = "*"
requests = "*"
streamlit = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
